@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


html, body {width: auto!important; overflow-x: hidden!important;}

nav {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
}

h1 {
  font-family: "Georgia", serif;
  font-weight: bold;
  display: inline;
  line-height: 1.1em;
}

p, h2, h3, li{
  font-family: "Lato", sans-serif;
}

p{
  margin-bottom: 1em;
}

.title{
  font-family: "Roboto";
  font-weight: bold;
  margin-bottom: -20px;
}

.container{
  width: 50%;
  margin: 3em auto;
  padding-bottom: 60px;
}

ul{
  margin-left: -10px;
}

li{
  list-style-type: disc;
  padding-left: 10px;
  margin-bottom: 0.5em;
}

@media screen and (max-width:1000px){
  .container{
    width: 60%;
  }
}

@media screen and (max-width:700px){
  .container{
    width: 70%;
  }
}

@media screen and (max-width:500px){
  .container{
    width: 80%;
  }
}
