<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <title>Reading for Revolution</title>
  </head>
  <body>

    <div class = "container">
      <!-- Header -->
      <h1 class = "is-size-3">reading for revolution</h1>
      {% include header.html %}
      <hr>

      <!-- About -->
      <div id = "about">
        <h2 class = "is-size-6 heading has-text-weight-bold">About</h2>
        <p>We are a group of students at MIT seeking to understand the contemporary conditions of America and our responsibility as citizens, students, and engineers to create a more just and human-oriented society. In our meetings, we discuss questions such as: how do we develop a culture which prioritizes the inherent right of all people to a decent livelihood? What is true democracy? What is the role of technology and art in advancing the freedom struggle? We look for answers through studying the revolutionary life and legacy of figures such as W. E. B. Du Bois, Martin Luther King Jr., Grace Lee and James Boggs, James Baldwin, and Malcolm X, as well as global liberation movements which sought to free humanity from imperialism, poverty, and all other forms of exploitation.</p>
      </div>

      <br>

      <!-- Post Feed -->
      <div id = "readings">
        <h2 class = "is-size-6 heading has-text-weight-bold">Past Readings</h2>
        <p>We are currently reading <i>Revolution and Evolution in the Twentieth Century</i> by Grace Lee Boggs and James Boggs, and have previously read <i>Living for Change</i> by Grace Lee Boggs. Below are also some of the essays, speeches, and articles we have discussed.</p>
        <br>
        {% assign groupedByTerms = site.posts | group_by:"term" %}
        {% for term in site.terms %}
          {% assign currentTerm = groupedByTerms | where: 'name', term | first %}
          <h2 class = "is-size-6 heading">{{currentTerm.name}}</h2>
          <ul>
            {%- for reading in currentTerm.items-%}
              <li>
                <a href = "{{site.baseurl}}/{{reading.url}}">
                  <strong>{{reading.title}}</strong> ({{reading.published}}) by {{reading.author}}
                </a>
              </li>
            {%- endfor -%}
          </ul>
          <br>
        {%- endfor -%}
      </div>

      <br>

      <div id = "join">
        <h2 class = "is-size-6 heading has-text-weight-bold">Join!</h2>
        <p>We're always open to new members! We currently meet every Saturday 3-4pm in 5-134. Email Susanna (susannac[@]mit[dot]edu) to join the mailing list or fill out <a href = "https://docs.google.com/forms/d/e/1FAIpQLSc8mdHIKVBvQh2EuLrOcjord6niJF43B6okvw7E3ckredV50w/viewform">the interest form</a>.</p>
      </div>

    </div>

  </body>
</html>
